<nav>
  <h2>menus</h2>
  <ul>
    <a href="#"><li>My profile</li></a>
    <a href="#"><li>My follows</li></a>
    <a href="#"><li>My followers</li></a>
    <a href="#"><li>My wordbooks</li></a>
    <a href="#"><li>My bookmarks</li></a>
  </ul>
</nav>