<nav>
  <h2>menus</h2>
  <ul>
    <li><%= link_to 'My profile', profile_path(current_user.id) %></li>
    <a href="#"><li>My follows</li></a>
    <a href="#"><li>My followers</li></a>
    <a href="#"><li>My wordbooks</li></a>
    <a href="#"><li>My bookmarks</li></a>
  </ul>
</nav>