<aside>
  <a href="#">
    <div class="btn">
        <p>research wordbooks</p> 
    </div>
  </a>
  <a href="#">
    <div class="btn">
        <p>research users</p> 
    </div>
  </a>
  <div class="ad1">
    ADエリア
  </div>
</aside>  