<aside>
  <div class="btn">
      <p><%= link_to "research wordbooks", word_search_path %></p> 
  </div>
  <div class="btn">
      <p><%= link_to "research users", user_search_path %></p> 
  </div>
  <div class="ad1">
    ADエリア
  </div>
</aside>  