<aside>
  <a href="#">
    <div class="btn">
        <p>research wordbooks</p> 
    </div>
  </a>
  <a href="#">
    <div class="btn">
        <p><%= link_to "research users", user_search_path %></p> 
    </div>
  </a>
  <div class="ad1">
    ADエリア
  </div>
</aside>  