<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
    <div class="contents">
      <%= image_tag '/user_images/ぬこ.jpg' %>
      <div class="content">
        <h1>name:<a href="#">サンプルさん</a></h1>
        <p>User_ID:<a href="#">sample1234</a></p>
        <p>wordbooks:<a href="#">10個</a></p>
        <p>followers:<a href="#">10人</a></p>
        <a href="#"><button>follow</button></a>
      </div>
    </div>
    <div class="contents">
      <%= image_tag '/user_images/ぬこ.jpg' %>
      <div class="content">
        <h1>name:<a href="#">サンプルさん</a></h1>
        <p>User_ID:<a href="#">sample1234</a></p>
        <p>wordbooks:<a href="#">10個</a></p>
        <p>followers:<a href="#">10人</a></p>
        <a href="#"><button>follow</button></a>
      </div>
    </div>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>