<div class="sign_up_box">
    <h1>新規登録する</h1>
    <form>
        <div class="form_field">
            <label>what&prime;s your name?</label>
            <input type="text" name="name">
        </div>
        <div class="form_field">
            <label>create your ID</label>
            <input type="text" name="original_name" placeholder="sample1234">
        </div>
        <div class="form_field">
            <label>your password</label>
            <input type="password" name="password">
        </div>
        <div class="form_field">
            <label>confirm password</label>
            <input type="password" name="password_confirmation">
        </div>
    </form>
</div>