<div class="sign_in_box">
    <h1>ログインする</h1>
    <form>
    <div class="form_field">
        <label>your name</label>
        <input type="text" name="name">
    </div>
    <div class="form_field">
        <label>your ID</label>
        <input type="text" name="original_name">
    </div>
    <div class="form_field">
        <label>your password</label>
        <input type="password" name="password">
    </div>
    <input type="submit" value="ログイン">
    </form>
</div>