<div class="display_flex">
  <%= render partial: 'left_nav' %>
  <article>
    <h1>【Name&prime;s wordbooks】</h1>
    <div class="contents">
      <div class="user_word"">
        <h1>title:<a href="#">サンプルタイトル</a></h1>
        <p>category:<a href="#">サンプルカテゴリー</a></p>
        <p>created:2020/6/1,13:21</p>
      </div>
    </div>
    <div class="contents">
      <div class="user_word">
        <h1>title:<a href="#">サンプルタイトル</a></h1>
        <p>category:<a href="#">サンプルカテゴリー</a></p>
        <p>created:2020/6/1,13:21</p>
      </div>
    </div>
  </article>
  <%= render partial: 'right_aside' %>
</div>