<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
    <h1>【create a wordbook】</h1>
    <div class="add_word">
        <form>
            <div class="display_flex">
                <div class="form_field">  
                    <label>title</label>
                    <input type="text" name="name" value="">
                </div>
                <div class="form_field">
                <% #改行入れる %>
                    <label>category</label>
                    <select name="original_name">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
            <input type="submit" value="regist">
        </form>
    </div>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>