<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
    <div class="word_research">
      <form>
        <p>fill in your own word search</p>
        <input type="text" name="word">
        <div class="form_field">
          <label>category</select>
          <select name="category">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="form_field">
          <label>order_by</select>
          <select name="turn">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <input type="submit" value='research now' class="button_to">
      </form>
    </div>
    <div class="contents">
      <%= image_tag '/user_images/ぬこ.jpg' %>
      <div class="wordbook">
        <h1>title:<a href="#">サンプルタイトル</a></h1>
        <p>category:<a href="#">サンプルカテゴリー</a></p>
        <p>made by:<a href="#">サンプルマン</a></p>
        <p>created:2020/6/1,13:21</p>
        <button>Fav</button>
      </div>
    </div>
    <div class="contents">
      <%= image_tag '/user_images/ぬこ.jpg' %>
      <div class="wordbook">
        <h1>title:<a href="#">サンプルタイトル</a></h1>
        <p>category:<a href="#">サンプルカテゴリー</a></p>
        <p>made by:<a href="#">サンプルマン</a></p>
        <p>created:2020/6/1,13:21</p>
        <button>Fav</button>
      </div>
    </div>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>