// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.display_flex {
    display: flex;
}

/* テンプレートnav */
nav {
    background-color: #fff;
    width: 200px;
    height: 220px;
    font-family: 'arial black';
    padding-top: 10px;
    margin-top: 30px;

    h2 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    
    ul {
        margin: 0;
        margin-top: 10px;
        margin-left: -20px;

        a {
            text-decoration: none;
        }

        li {
            font-size: 20px;
            color: #000;
            list-style: none;
        }
    }
}

/* テンプレートaside部分 */
aside {
    width: 280px;
    margin-top: 30px;

    a {
        text-decoration: none;
        color: #22f;
    }

    .btn {
        background-color: #fff;
        width: 250px;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 50px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 0 #555;
        margin-top: 10px;
        margin-left: 10px;
    }

    .ad1 {
        background-color: #fff;
        width: 270px;
        height: 400px;
        margin-top: 20px;
        margin-left: 10px;
    }
}

/* main article部分 */
article {
    background-color: #ccc;
    width: 500px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;

    .contents {
        margin-top: 20px;
        margin-left: 30px;
        display: flex;
    
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .content {
            width: 300px;
            height: 90px;
            background-color: #fff;
            padding-top: 2px;
            padding-left: 10px;
    
            a {
                color: #000;
            }
            
            h1 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
                opacity: 0.7;
            }

            p:nth-child(4) {
                float: left;
            }

            button {
                background-color: #6cf;
                width: 60px;
                height: 25px;
                color: #eee;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                border: none;
                border-radius: 10px;
                box-shadow: 1px 2px 0 0.5px #55f;
                margin-top: -10px;
                margin-right: 4px;
                float: right;
            }
        }
    
        .wordbook {
            width: 300px;
            height: 80px;
            background-color: #fff;
            padding-top: 2px;
            padding-left: 10px;
    
            a {
                color: #000;
            }
            
            h1 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
                opacity: 0.7;
            }

            p:nth-child(4) {
                font-size: 12px;
                margin-top: -8px;
                float: right;
            }
        }
    }
}

/* sign_up部分 */
.sign_up_box {
    background-color: #fff;
    width: 250px;
    height: 300px;
    padding: 25px;
    padding-top: 15px;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: auto;

    h1 {
        font-size: 20px;
    }

    .form_field {
        margin-top: 5px;
    }
}

/* sign_in部分 */
.sign_in_box {
    background-color: #fff;
    width: 250px;
    height: 250px;
    padding: 25px;
    padding-top: 15px;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: auto;

    h1 {
        font-size: 20px;
    }

    .form_field {
        margin-top: 5px;
    }
}
