// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.display_flex {
    display: flex;
}

/* テンプレートnav */
nav {
    background-color: #fff;
    width: 200px;
    height: 220px;
    font-family: 'arial black';
    padding-top: 10px;
    margin-top: 30px;

    h2 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    
    ul {
        margin: 0;
        margin-top: 10px;
        margin-left: -20px;

        a {
            text-decoration: none;
        }

        li {
            font-size: 20px;
            color: #000;
            list-style: none;
        }
    }
}

/* テンプレートaside部分 */
aside {
    width: 280px;
    margin-top: 30px;

    a {
        text-decoration: none;
        color: #22f;
    }

    .btn {
        background-color: #fff;
        width: 250px;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 50px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 0 #555;
        margin-top: 10px;
        margin-left: 10px;
    }

    .ad1 {
        background-color: #fff;
        width: 270px;
        height: 400px;
        margin-top: 20px;
        margin-left: 10px;
    }
}

/* main article部分 */
article {
    background-color: #ccc;
    width: 500px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;

    /* user_search */
    .user_research {
        margin-bottom: 20px;
        
        input {
            width: 300px;
            border-radius: 10px;
            border: solid 1px;
            display: inline;
        }
    
        select {
            width: 200px;
            height: 20px;
            font-size: 12px;
            border: none;
            border-radius: 10px;
            margin-top: 5px;
        }
    
        .button_to {
            background-color: #6cf;
            width: 115px;
            height: 20px;
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            border-radius: 10px;
            border: none;
            padding-left: 10px;
            margin-top: 5px;
            margin-right: 10px;
            float: right;
        }
    }

    /* profile部分 */
    .profile {
        background-color: #fff;
        padding: 10px;
        margin-right: 20px;
        margin-top: 20px;

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 10px auto;
            margin-top: 0;
        }

        .edit_btn {
            background-color: #6cf;
            width: 100px;
            height: 20px;
            color: #fff;
            font-size: 12px;
            line-height: 12px;
            border: none;
            border-radius: 10px;
            box-shadow: 1px 2px 1px 1px #22f;
            float: right;
        }

        table {
            th {
                font-weight: normal;
                text-align: right;
            }

            td {
                text-align: center;
            }
        }

        .btn {
            float: right;
            margin-top: -25px;
            margin-left: 5px;

            .btn_a {
                background-color: #3df;
                color: #fff;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 2px 1px 1px #22f;
            }

            .btn_c {
                background-color: #ffa0ab;
                color: #fff;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 2px 1px 1px #ff3333;
            }
        }

        p {
            margin-top: 20px;
        }
    }
    
    /* users/edit, form部分 */
    .change_profile {
        background-color: #fff;
        margin: 20px;
        padding: 20px;
        margin-left: 0;

        h1 {
            margin-top: -10px;
            margin-bottom: 10px;
        }

        .user_image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-top: 10px;
        }
    
        .form_field {
            margin-top: 5px;
        }
    
        .form_field:nth-child(6) {
            
            label {
                vertical-align: 20px;
            }
    
            textarea {
                width: 300px;
                height: 50px;
            }
        }    

        input[type="submit"] {
            background-color: #6cf;
            width: 50px;
            height: 30px;
            color: #fff;
            border: none;
            border-radius: 10px;
            box-shadow: 2px 2px 0 0 #36f;
            margin-top: -20px;
            margin-right: -5px;
            float: right;
        }
    }

    .change_important {
        background-color: #fff;
        margin: 20px;
        padding: 20px;
        margin-left: 0;

        input[type="submit"] {
            background-color: #6cf;
            width: 50px;
            height: 30px;
            color: #fff;
            border: none;
            border-radius: 10px;
            box-shadow: 2px 2px 0 0 #36f;
            margin-top: -20px;
            margin-right: -5px;
            float: right;
        }

        .form_field {
            margin-top: 15px;

            label {
                display: block;

                span {
                    color: #11f;
                    text-decoration: underline;;
                }

                strong {
                    color: #f11;
                }
            }
        }
    }

    /* user_search用 */
    
    /* contents */
    .contents {
        margin-top: 20px;
        margin-left: 30px;
        display: flex;
    
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
        }

        .title {
            text-decoration: underline;
        }

        /* user_wordのcontent 'users/word */
        .user_word {
            width: 300px;
            height: 70px;
            background-color: #fff;
            padding-top: 2px;
            padding-left: 10px;
    
            a {
                color: #000;
            }
            
            h1 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
                opacity: 0.7;
            }
        }
        
        /* content一覧部分 */
        .content {
            width: 300px;
            height: 90px;
            background-color: #fff;
            padding-top: 2px;
            padding-left: 10px;
    
            a {
                color: #000;
            }
            
            h1 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
                opacity: 0.7;
            }

            p:nth-child(4) {
                float: left;
            }

            button {
                background-color: #6cf;
                width: 60px;
                height: 25px;
                color: #eee;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                border: none;
                border-radius: 10px;
                box-shadow: 1px 2px 0 0.5px #55f;
                margin-top: -10px;
                margin-right: 4px;
                float: right;
            }

            .unfollow {
                width: 70px;
                background-color: #ffc0cb;
                box-shadow: 1px 2px 1px 0 #ff808b;
            }
        }

        /* 単語帳一覧部分 */
        .wordbook {
            width: 300px;
            height: 80px;
            background-color: #fff;
            padding-top: 2px;
            padding-left: 10px;
    
            a {
                color: #000;
            }
            
            h1 {
                font-size: 16px;
            }

            p {
                font-size: 12px;
                opacity: 0.7;
            }

            button {
                background-color: #faf;
                width: 30px;
                height: 30px;
                font-size: 12px;
                font-weight: bold;
                color: #ffa;
                border: none;
                border-radius: 50%;
                box-shadow: 1.5px 1px 0 0.5px #f6f;
                padding: 3px;
                margin-top: -35px;
                margin-right: 5px;
                float: right;
            }
        } 
    }
}

/* sign_up部分 */
.sign_up_box {
    background-color: #fff;
    width: 250px;
    height: 330px;
    padding: 25px;
    padding-top: 15px;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: auto;

    h1 {
        font-size: 20px;
    }

    .form_field {
        margin-top: 5px;
    }

    input[type="submit"] {
        background-color: #6cf;
        width: 100px;
        height: 30px;
        color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 0 0 #36f;
        margin-top: 10px;
        margin-left: 50px;
    }
}

/* sign_in部分 */
.sign_in_box {
    background-color: #fff;
    width: 250px;
    height: 220px;
    padding: 25px;
    padding-top: 15px;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: auto;

    h1 {
        font-size: 20px;
    }

    .form_field {
        margin-top: 5px;
    }

    input[type="submit"] {
        background-color: #6cf;
        width: 100px;
        height: 30px;
        color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 0 0 #36f;
        margin-top: 10px;
        margin-left: 50px;
    }
}
