// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.meta_data {

    h1 {
        font-size: 20px;
        margin: 0;
        margin-top: 5px;
        padding: 0;
    }

    p {
        font-size: 14px;
        margin: 0;
        margin-right: 10px;
        padding: 0;
    }

    button {
        width: 30px;
        height: 30px;
        font-size: 14px;
        line-height: 14px;
        border: none;
        border-radius: 50%;
        padding-left: 3px;
        margin-right: 300px;
        float: right;
    }

    .pink {
        background-color: pink;
    }
}

.top_buttons {
    margin-top: 10px;

    .hide {
        width: 140px;
        height: 20px;
        font-size: 14px;
        line-height: 12px;
        border: none;
        border-radius: 10px;
    }

    .hide + .hide {
        margin-left: 20px;
    }
}

.word_list {
    background-color: #eee;
    padding: 5px;
    margin: 10px 10px 0 0;
    display: flex;

    p {
        width: 160px;
        margin: 0 10px;
        display: block;
    }
    
    .btns {
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;

        .edit_btn {
            background-color: #6cf;
            width: 35px;
            height: 20px;
            font-size: 12px;
            color: rgb(245, 255, 190);
            line-height: 12px;
            border: none;
            border-radius: 10px;
            padding-left: 5px;
        }

        .del_btn {
            background-color: #6cf;
            width: 50px;
            height: 20px;
            font-size: 12px;
            font-size: 12px;
            color: rgb(245, 255, 190);
            line-height: 12px;
            border: none;
            border-radius: 10px;
            padding-left: 7px;
        }
    }
}

.add_btn {
    margin-top: 10px;
}

.add_word {
    margin-top: 20px;

    .form_field {

        input {
            width: 200px;
        }
    }

    .form_field + .form_field {
        margin-left: 20px;
    }

    input[type="submit"] {
        margin-top: 10px;
        margin-right: 43px;
        float: right;
    }

    select {
        width: 200px;
        height: 30px;
    }
}